
<html lang="en">

<body>

  
    <main>
      <div class="seitentitel">Farklı tiplerdeki kapalı sorular arasından seçim yapabilirsiniz...</div>
        <div id="E6994980" class="element tid-61 kein_umbruch_nach_element" style="padding-bottom: 30px; margin-right: 199px;">
          <div id="frage-6994980" class="frage">
            <p class="vorlage">1.MBL Finance Sizin İçin Faydalı Oldu Mu?</p>
          
            </div>
          <div id="antwort-6994980" class="antwort antwort-61">
          <table class="table multiple-choice-table" cellspacing="0">
            <tbody><tr id="element-6994980-ja" class="zeile zeile-1 zeile-farbwechsel">
              <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input id="element-6994980-1" type="radio" class="radio custom-input js-custom-input" name="element-61-6994980" value="1"><span class="custom-input-icon"></span></label></td>
              <td class="auswahl-text"><label for="element-6994980-1">evet</label></td>
                </tr>
            <tr id="element-6994980-nein" class="zeile zeile-2">
              <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input type="radio" class="radio custom-input js-custom-input" id="element-6994980-0" name="element-61-6994980" value="0"><span class="custom-input-icon"></span></label></td>
              <td class="auswahl-text"><label for="element-6994980-0">hayır</label></td>
                </tr>
          </tbody></table>
          
          </div>
          
          </div>
          <div id="E6994980" class="element tid-61 kein_umbruch_nach_element" style="padding-bottom: 30px; margin-right: 199px;">
            <div id="frage-6994980" class="frage">
              <p class="vorlage">2.MBL Finance Kullanımı Kolay Mı?</p>
            
              </div>
            <div id="antwort-6994980" class="antwort antwort-61">
            <table class="table multiple-choice-table" cellspacing="0">
              <tbody><tr id="element-6994980-ja" class="zeile zeile-1 zeile-farbwechsel">
                <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input id="element-6994980-1" type="radio" class="radio custom-input js-custom-input" name="element-61-6994980" value="1"><span class="custom-input-icon"></span></label></td>
                <td class="auswahl-text"><label for="element-6994980-1">evet</label></td>
                  </tr>
              <tr id="element-6994980-nein" class="zeile zeile-2">
                <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input type="radio" class="radio custom-input js-custom-input" id="element-6994980-0" name="element-61-6994980" value="0"><span class="custom-input-icon"></span></label></td>
                <td class="auswahl-text"><label for="element-6994980-0">hayır</label></td>
                  </tr>
            </tbody></table>
            
            </div>
            
            </div>
            <div id="E6994980" class="element tid-61 kein_umbruch_nach_element" style="padding-bottom: 30px; margin-right: 199px;">
              <div id="frage-6994980" class="frage">
                <p class="vorlage">3.MBL Finance İşinize Yaradı Mı?</p>
              
                </div>
              <div id="antwort-6994980" class="antwort antwort-61">
              <table class="table multiple-choice-table" cellspacing="0">
                <tbody><tr id="element-6994980-ja" class="zeile zeile-1 zeile-farbwechsel">
                  <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input id="element-6994980-1" type="radio" class="radio custom-input js-custom-input" name="element-61-6994980" value="1"><span class="custom-input-icon"></span></label></td>
                  <td class="auswahl-text"><label for="element-6994980-1">evet</label></td>
                    </tr>
                <tr id="element-6994980-nein" class="zeile zeile-2">
                  <td class="checkbox-radio"><label class="custom-input-wrapper custom-radio-wrapper"><input type="radio" class="radio custom-input js-custom-input" id="element-6994980-0" name="element-61-6994980" value="0"><span class="custom-input-icon"></span></label></td>
                  <td class="auswahl-text"><label for="element-6994980-0">hayır</label></td>
                    </tr>
              </tbody></table>
              
              </div>
              
              </div>
              <p class="vorlage">İyileştirme için tavsiyeniz nedir?</p>
              <textarea name="element-13-6994977" class="survey-textarea survey-input survey-full"></textarea>

              <div id="E6994979" class="element tid-35 matrix last-element" style="padding-bottom: 30px; margin-right: 15px;">
                <div id="frage-6994979" class="frage">
                  <p class="vorlage">İletişim bilgileriniz:</p>
                
                  </div>
                <input type="hidden" name="element-35-6994979" value="delete"><div id="antwort-6994979" class="antwort">
                <table id="element-table-6994979" class="table center js-make-table-responsive js-wrap-text-inputs-with-labels keine_beschriftungszeile" style="visibility: visible;">
                  
                <tbody><tr id="zeile-6994979-5048525" class="zeile zeile-1 zeile-farbwechsel">
                    
                        
                    <!-- First column -->
                    <td id="zeile-6994979-5048525-links" class="spalte-links left">Adı soyadı</td>
                
                              <td id="zeile-6994979-5048525-1" class="answer-cell antwort-spalte spalte-1"><label class="input-text-wrapper" data-title=""><input type="text" id="element-6994979-5048525-1" name="element-35-6994979-5048525-1" value="" class="survey-input antwort-35 offenes-textfeld" onkeypress="return disableEnterKey(event)"></label></td>
                        
                        
                      </tr>
                  
                  
                <tr id="zeile-6994979-5048526" class="zeile zeile-2">
                    
                        
                    <!-- First column -->
                    <td id="zeile-6994979-5048526-links" class="spalte-links left">Adres</td>
                
                              <td id="zeile-6994979-5048526-1" class="answer-cell antwort-spalte spalte-1"><label class="input-text-wrapper" data-title=""><input type="text" id="element-6994979-5048526-1" name="element-35-6994979-5048526-1" value="" class="survey-input antwort-35 offenes-textfeld" onkeypress="return disableEnterKey(event)"></label></td>
                        
                        
                      </tr>
                  
                  
                <tr id="zeile-6994979-5048527" class="zeile zeile-3 zeile-farbwechsel">
                    
                        
                    <!-- First column -->
                    <td id="zeile-6994979-5048527-links" class="spalte-links left">Posta kodu ve şehir</td>
                
                              <td id="zeile-6994979-5048527-1" class="answer-cell antwort-spalte spalte-1"><label class="input-text-wrapper" data-title=""><input type="text" id="element-6994979-5048527-1" name="element-35-6994979-5048527-1" value="" class="survey-input antwort-35 offenes-textfeld" onkeypress="return disableEnterKey(event)"></label></td>
                        
                        
                      </tr>
                  
                  
                <tr id="zeile-6994979-5048528" class="zeile zeile-4">
                    
                        
                    <!-- First column -->
                    <td id="zeile-6994979-5048528-links" class="spalte-links left">Telefon numarası</td>
                
                              <td id="zeile-6994979-5048528-1" class="answer-cell antwort-spalte spalte-1"><label class="input-text-wrapper" data-title=""><input type="text" id="element-6994979-5048528-1" name="element-35-6994979-5048528-1" value="" class="survey-input antwort-35 offenes-textfeld" onkeypress="return disableEnterKey(event)"></label></td>
                        
                        
                      </tr>
                  
                  
                <tr id="zeile-6994979-5048529" class="zeile zeile-5 zeile-farbwechsel">
                    
                        
                    <!-- First column -->
                    <td id="zeile-6994979-5048529-links" class="spalte-links left">E-posta adresi</td>
                
                              <td id="zeile-6994979-5048529-1" class="answer-cell antwort-spalte spalte-1"><label class="input-text-wrapper" data-title=""><input type="text" id="element-6994979-5048529-1" name="element-35-6994979-5048529-1" value="" class="survey-input antwort-35 offenes-textfeld" onkeypress="return disableEnterKey(event)"></label></td>
                        
                        
                      </tr>
                  
                  
                
                </tbody></table>
                </div>
                
                </div>

                <input type="submit" name="next" class="button" value="Bitti" onclick="return checkAnswers()">
          
          
        
          
      </main>
      